.postContainer {
    width: 100%;
    max-width: 470px;
    margin: 0 auto 30px auto;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 20px;
    background-color: var(--cor-background);
}

.postHeader {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.perfil {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.postAutor {
    font-size: 11px;
    color: var(--cor-texto5);
}

.containerImagem {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #efefef;
}

.imagem {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.footer {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.botoesAcao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.grupoEsquerda {
    display: flex;
    align-items: center;
    gap: 12px;
}

.salvar {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 0;
}

.botaoIcone {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    width: 24px;
}

.coracaoAtivo {
    color: var(--cor-alerta);
}

.curtidasCount {
    font-weight: 600;
    font-size: 13px;
}

.legenda {
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
}

strong {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 0.7;
}