@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-background: #FFFFFF;
    --cor-fundo: #fafafa;
    --cor-texto: #000;
    --cor-texto2: #111112;
    --cor-texto3: #262626;
    --cor-texto4: #666A72;
    --cor-texto5: #737373;
    --cor-texto6: #aeb2b6;
    --cor-borda: #DFE2E5;
    --cor-borda2: #D0D3D6;
    --cor-hover: #F0F0F0;
    --cor-ativo: #0064E0;
    --cor-inativo: #99C1F3;
    --cor-alerta: #D31130;
    --cor-verificado: #147B29;
    --font-logo: 'Grand Hotel', cursive;
    --font-padrao: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--font-padrao);
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 84%;
    padding: 18px;
    margin-bottom: 15px;
    border: 1px solid var(--cor-borda2);
    border-radius: 15px;
    color: var(--cor-texto3);
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.3px;
    line-height: 0.7;
}

input::placeholder {
    color: var(--cor-texto4);
    opacity: 1;
}

input:hover {
    border-color: var(--cor-texto4);
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: var(--cor-ativo);
    box-shadow: 0 0 4px var(--cor-inativo), inset 0 0 4px var(--cor-inativo);
    outline: none;
    transition: border-color 0.3s ease;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--cor-background);
    width: 84%;
    height: 45px;
    margin-top: 12px;
    align-items: center;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 0.5;
}

button:hover {
    background-color: var(--cor-hover);
    transition: background-color 0.3s ease;

}

button:not(:disabled):active {
    transform: translateY(0.5px);
    transition: background-color 0.1s ease;
}

a{
    color: var(--cor-ativo);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}

a:active{
    color: var(--cor-inativo);
}

.botaoOlho, .verificado, .x {
    position: absolute;
    z-index: 999;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-texto2);
}

.verificado{
    transform: translateY(-110%);
    color: var(--cor-verificado);
}

.botaoOlho:hover {
    background-color: transparent;
}

.meta {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
    gap: 4px;
    font-size: 16px;
    line-height: 0.3;
}

.iconeMeta {
    color: var(--cor-ativo);
    transform: translateY(-40%);
}

.iconeFacebook {
    color: var(--cor-ativo);
    margin-right: 8px;
}

.iconeAlerta {
    color: var(--cor-alerta);
}

.iconeArrow {
    color: var(--cor-texto5);
}

.iconeInstagram {
    color: #fff;
    background: radial-gradient(circle at 30% 107%, #F1D344 15%, #EE5052 40%, #EC3268 45%, #DC2BC3 75%, #9C1EDB 85%, #6C1DFB 95%);
    border-radius: 20%;
    padding: 5px;
}